/* variables */
:root {
  --primary-color: #ffc636;
  --secondary-color: #0a0b5b;
}

/* reset */
* {
  box-sizing: border-box;
}

body, a, p, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Rubik Regular', sans-serif;
}

li {
  list-style-type: none;
}

/* base styles */
body {
  background-color: var(--secondary-color);
  overflow-x: hidden;
}

.button {
  background: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  display: inline-block;
}

.button:hover {
  background-color: var(--primary-color);
  color: #333;
  cursor: pointer;
}

.button:active {
  transform: scale(0.98);
}

input,
textarea {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  color: #f2f2f2;
  border: 2px solid #9893d8;
  border-radius: 20px;
}

.button:focus,
input:focus,
textarea:focus {
  outline: none;
}

/* text */
@font-face {
  font-family: 'Rubik Regular';
  src: url('./assets/fonts/Rubik-Regular.ttf');
}

h1, h2, h3, h4 {
  color: #dddbff;
  font-weight: normal;
}

p, a, li {
  color: #9893d8;
}

h1, h3 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.1em;
}

.leadgin {
  font-size: 1.1em;
}

/* mobile styles */


/* small tablets styles */
@media screen and (min-width: 620px) {
  body {
    font-size: 16px;
  }
}

/* large screen & laptop styles */
@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
